﻿<!DOCTYPE html>
<html>
<head>
	<title>CCMS - Case</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!-- bootstrap -->
    <link href="../Content/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../Content/css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
    <link href="../Content/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet">

    <!-- libraries -->
    <link href="css/lib/bootstrap-wysihtml5.css" type="text/css" rel="stylesheet">
    <link href="css/lib/uniform.default.css" type="text/css" rel="stylesheet">
    <link href="css/lib/select2.css" type="text/css" rel="stylesheet">
    <link href="css/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet">
    <link href="css/lib/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="../Content/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../Content/css/elements.css">
    <link rel="stylesheet" type="text/css" href="../Content/css/icons.css">
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="../Content/css/compiled/user-profile.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

    <!-- navbar -->
    <div class="navbar navbar-inverse" style="position:fixed;z-index:10000;width:100%">
        <div class="navbar-inner">
            <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="brand" href="index.html"><img src="~/Content/img/logo.png"></a>

            <ul class="nav pull-right">                
                <li class="hidden-phone">
                    <input class="search" type="text" />
                </li>
                <li class="notification-dropdown hidden-phone">
                    <a href="#" class="trigger">
                        <i class="icon-warning-sign"></i>
                        <span class="count">8</span>
                    </a>
                    <div class="pop-dialog">
                        <div class="pointer right">
                            <div class="arrow"></div>
                            <div class="arrow_border"></div>
                        </div>
                        <div class="body">
                            <a href="#" class="close-icon"><i class="icon-remove-sign"></i></a>
                            <div class="notifications">
                                <h3>You have 6 new notifications</h3>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> Case 13-14065 closed
                                    <span class="time"><i class="icon-time"></i> 13 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> Notes added to Case 13-15075
                                    <span class="time"><i class="icon-time"></i> 18 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-envelope-alt"></i> New message from Jayson Roper
                                    <span class="time"><i class="icon-time"></i> 28 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-download-alt"></i> Case 13-1364 assigned to you
                                    <span class="time"><i class="icon-time"></i> 49 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> Case reassigned to another user
                                    <span class="time"><i class="icon-time"></i> 1 day.</span>
                                </a>
                                <div class="footer">
                                    <a href="#" class="logout">View all notifications</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="notification-dropdown hidden-phone">
                    <a href="#" class="trigger">
                        <i class="icon-envelope-alt"></i>
                    </a>
                    <div class="pop-dialog">
                        <div class="pointer right">
                            <div class="arrow"></div>
                            <div class="arrow_border"></div>
                        </div>
                        <div class="body">
                            <a href="#" class="close-icon"><i class="icon-remove-sign"></i></a>
                            <div class="messages">
                                <a href="#" class="item">
                                    <img src="~/Content/img/contact-img.png" class="display" />
                                    <div class="name">Alejandra Galván</div>
                                    <div class="msg">
                                        There are many variations of available, but the majority have suffered alterations.
                                    </div>
                                    <span class="time"><i class="icon-time"></i> 13 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <img src="~/Content/img/contact-img2.png" class="display" />
                                    <div class="name">Alejandra Galván</div>
                                    <div class="msg">
                                        There are many variations of available, have suffered alterations.
                                    </div>
                                    <span class="time"><i class="icon-time"></i> 26 min.</span>
                                </a>
                                <a href="#" class="item last">
                                    <img src="~/Content/img/contact-img.png" class="display" />
                                    <div class="name">Alejandra Galván</div>
                                    <div class="msg">
                                        There are many variations of available, but the majority have suffered alterations.
                                    </div>
                                    <span class="time"><i class="icon-time"></i> 48 min.</span>
                                </a>
                                <div class="footer">
                                    <a href="#" class="logout">View all messages</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle hidden-phone" data-toggle="dropdown">
                        Jayson Roper
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="personal-info.html">My info</a></li>
                        <li><a href="#">Preferences</a></li>
                        <li><a href="#">Change password</a></li>
                    </ul>
                </li>
                <li class="settings hidden-phone">
                    <a href="personal-info.html" role="button">
                        <i class="icon-cog"></i>
                    </a>
                </li>
                <li class="settings hidden-phone">
                    <a href="signin.html" role="button">
                        <i class="icon-share-alt"></i>
                    </a>
                </li>
            </ul>            
        </div>
    </div>
    <!-- end navbar -->

    <!-- sidebar -->
    <div id="sidebar-nav" style="position:fixed;">
        <ul id="dashboard-menu">
            <li>                
                <a href="/">
                    <i class="icon-home"></i>
                    <span>Home</span>
                </a>
            </li>            
            <li>
                <a href="chart-showcase.html">
                    <i class="icon-signal"></i>
                    <span>Charts</span>
                </a>
            </li>
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-folder-close"></i> <!--icon-group-->
                    <span>Cases</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="active submenu">
                    <li><a href="/cases">Active Cases</a></li>
                    <li><a href="/cases">My Cases</a></li>
                </ul>
            </li>
            @*<li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-edit"></i>
                    <span>Forms</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="form-showcase.html">Form showcase</a></li>
                    <li><a href="form-wizard.html">Form wizard</a></li>
                </ul>
            </li>
            <li>
                <a href="gallery.html">
                    <i class="icon-picture"></i>
                    <span>Gallery</span>
                </a>
            </li>
            <li>
                <a href="tables.html">
                    <i class="icon-th-large"></i>
                    <span>Tables</span>
                </a>
            </li>
            <li>
                <a class="dropdown-toggle ui-elements" href="#">
                    <i class="icon-code-fork"></i>
                    <span>UI Elements</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="ui-elements.html">UI Elements</a></li>
                    <li><a href="icons.html">Icons</a></li>
                </ul>
            </li>*@
            <li>
                <a href="/reports">
                    <i class="icon-book"></i>
                    <span>Reports</span>
                </a>
            </li>
            <li>
                 <a class="dropdown-toggle" href="#">
                    <i class="icon-cog"></i> <!--icon-group-->
                    <span>Settings</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/users">Users</a></li>
                    <li><a href="/roles">Roles</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/lookups">Lookups</a></li>
                </ul>             
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-exchange"></i>
                    <span>Interfaces</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="code-editor.html">Code editor</a></li>
                    <li><a href="grids.html">Grids</a></li>
                    <li><a href="signin.html">Sign in</a></li>
                    <li><a href="signup.html">Sign up</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->

	<!-- main container -->
    <div class="content" style="position:static;">
        
        <!-- settings changer -->
        <div class="skins-nav" style="display:none">
            <a href="#" class="skin first_nav selected">
                <span class="icon"></span><span class="text">Default</span>
            </a>
            <a href="#" class="skin second_nav" data-file="~/Content/css/skins/dark.css">
                <span class="icon"></span><span class="text">Dark skin</span>
            </a>
        </div>
        
        <div class="container-fluid">
            <div id="pad-wrapper" class="user-profile" style="margin-top:85px">
                <!-- header -->
                <div class="row-fluid header" style="margin-bottom:0px">
                    <div class="span8">
                        <img src="img/folder-open.png" class="avatar" style="border:none">
                        <h3 class="name" style="margin-top:15px;margin-bottom:8px">Johnny Appleseed</h3>
                        <span class="area">Case # 2013000294</span>
                    </div>
                    <a class="btn-flat icon pull-right delete-user" data-toggle="tooltip" title="Delete user" data-placement="top">
                        <i class="icon-trash"></i>
                    </a>
                     <a class="btn-flat icon large pull-right edit">
                        Edit this case
                    </a>
                </div>

                <div class="row-fluid profile">

                    <!-- main record -->
                    <div class="span10 bio">

                        <div class="profile-box" style="border-top:none">

                            <!-- case nav column -->
                            <div class="tabbable span12"> <!-- Only required for left/right tabs -->
                              <ul class="nav nav-tabs">
                                <li class="active"><a href="#tabGeneral" data-toggle="tab">General</a></li>
                                <li><a href="#tabDecedent" data-toggle="tab">Decedent</a></li>
                                <li><a href="#tabContacts" data-toggle="tab">Contacts</a></li>
                                <li><a href="#tabPlaceCauseOfDeath" data-toggle="tab">Cause & Place</a></li>
                                <li><a href="#tabInjuries" data-toggle="tab">Injuries</a></li>
                                <li><a href="#tabNotes" data-toggle="tab">Notes</a></li>
                                <li><a href="#tabReport" data-toggle="tab">Report</a></li>
                              </ul>
                              <div class="tab-content">
                                <div class="tab-pane active" id="tabGeneral">
                                  
                                    <!-- general -->
                                    <div class="span12 section">
                                        <h6>Case Type</h6>

                                        <div class="span5 field-box">
                                            <label>Manner of Death</label>
                                            <div class="span12">
                                                <select class="select2 span11">
                                                    <option value="AK">Accident</option>
                                                    <option value="HI">Hawaii</option>
                                                    <option value="CA">California</option>
                                                    <option value="NV">Nevada</option>
                                                    <option value="OR">Oregon</option>
                                                    <option value="WA">Washington</option>
                                                    <option value="AZ">Arizona</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Sub Category</label>
                                        <div class="span12">
                                            <select class="select2 span11">
                                                <option value="AK">Accident</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="CA">California</option>
                                                <option value="NV">Nevada</option>
                                                <option value="OR">Oregon</option>
                                                <option value="WA">Washington</option>
                                                <option value="AZ">Arizona</option>
                                            </select>
                                           </div>
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Cause of Death</label>
                                        <div class="span12">
                                            <select class="select2 span11">
                                                <option value="AK">Accident</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="CA">California</option>
                                                <option value="NV">Nevada</option>
                                                <option value="OR">Oregon</option>
                                                <option value="WA">Washington</option>
                                                <option value="AZ">Arizona</option>
                                            </select>
                                           </div>
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Reason Reported</label>
                                        <div class="span12">
                                            <select class="select2 span11">
                                                <option value="AK">Accident</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="CA">California</option>
                                                <option value="NV">Nevada</option>
                                                <option value="OR">Oregon</option>
                                                <option value="WA">Washington</option>
                                                <option value="AZ">Arizona</option>
                                            </select>
                                           </div>
                                        </div>

                                        <div class="span6 field-box">
                                        <label>Date/Time of Death</label>
                                            <div class="span4" style="float:left;margin-left:0px"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Date</label></div>
                                            <div class="span4" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Time</label></div>
                                        <div class="span8">
                                            <label><input type="checkbox" style="margin-top:0px" />  <span style="margin-left:5px">Date/Time Is Estimated</span></label></div>
                                        </div>

                                    <h6 class="span12">Investigating Agency</h6>
                                    
                                        <div class="span5 field-box">
                                        <label>Investigating Agency</label>
                                        <div class="span12">
                                            <select class="select2 span11">
                                                <option value="AK">Solano County Sheriff</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="CA">California</option>
                                                <option value="NV">Nevada</option>
                                                <option value="OR">Oregon</option>
                                                <option value="WA">Washington</option>
                                                <option value="AZ">Arizona</option>
                                            </select>
                                           </div>
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Inv Agency Report #</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Coroner #</label>
                                        <input class="span11" type="text">
                                        </div>
                                        
                                        <div class="span5 field-box" style="clear:left">
                                        <label>CAD #</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>CAD Case #</label>
                                        <input class="span11" type="text">
                                        </div>

                                    <h6 class="span12">Assignment</h6>

                                        <div class="span5 field-box">
                                        <label>Report Received By</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box" >
                                        <label>Reported Date</label>
                                            <div class="span6" style="float:left;margin-left:0px"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Date</label></div>
                                            <div class="span5" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Time</label></div>
                                       </div>
                                    
                                        <div class="span5 field-box">
                                            <label>Assigned To</label>
                                            <div class="span12">
                                                <select class="select2 span11">
                                                    <option value="AK">Jayson Roper</option>
                                                    <option value="HI">Jackson Harris</option>
                                                    <option value="CA">California</option>
                                                    <option value="NV">Nevada</option>
                                                    <option value="OR">Oregon</option>
                                                    <option value="WA">Washington</option>
                                                    <option value="AZ">Arizona</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Assigned</label>
                                            <input class="span11" type="text">

                                        </div>

                                        <h6 class="span12">Reporting Party</h6>

                                        <div class="span5 field-box">
                                        <label>Name</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Agency</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Address</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box" style="clear:left">
                                        @*<label>Address</label>*@
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box" style="clear:left">
                                        @*<label>City/State/Zip</label>*@
                                        <div class="span5" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">City</label></div>
                                        <div class="span2" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">State</label></div>
                                        <div class="span4" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Zip</label></div>
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Phone</label>
                                        <input class="span11" type="text"/>
                                        </div>

                                        <div class="span6 field-box" style="clear:left;">
                                        <label>Decedent Found</label>
                                            <div class="span4" style="float:left;margin-left:0px"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Date</label></div>
                                            <div class="span4" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Time</label></div>
                                        </div>
                                    <!-- end general -->
                                    </div>

                                </div>

                                <div class="tab-pane" id="tabDecedent">

                                    <!-- Begin Decedent Content -->
                               
                                     <div class="span12 section">
                                        <h6>Decedent</h6>

                                        <div class="span10 field-box" >
                                        <label>Name</label>
                                            <div class="span4" style="float:left;margin-left:0px"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">First</label></div>
                                            <div class="span4" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Middle</label></div>
                                            <div class="span4" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Last</label></div>
                                        </div>

                                        <div class="span5 field-box">
                                            <div class="span8" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Maiden</label></div>
                                        </div>

                                        <div class="span8" style="clear:left;margin-top:10px">
                                            <label class="checkbox">
                                                <input type="checkbox"> Was a Jane Doe or John Doe
                                            </label>
                                        </div>


                                        <h6 class="span12">Description</h6>

                                        <div class="span2 field-box">
                                        <label>Race</label>
                                            <select class="select2 span12">
                                                <option value="W">White</option>
                                                <option value="B">Black</option>
                                                <option value="H">Hispanic</option>
                                            </select>
                                        </div>

                                        <div class="span3 field-box">
                                        <label>Gender</label>
                                            <select class="select2 span8">
                                                <option value="W">White</option>
                                                <option value="B">Black</option>
                                                <option value="H">Hispanic</option>
                                            </select>
                                        </div>

                                        <div class="span2 field-box">
                                        <label>Hair Color</label>
                                            <select class="select2 span12">
                                                <option value="W">White</option>
                                                <option value="B">Black</option>
                                                <option value="H">Hispanic</option>
                                            </select>
                                        </div>

                                        <div class="span3 field-box">
                                        <label>Eye Color</label>
                                            <select class="select2 span8">
                                                <option value="BRO">Brown</option>
                                                <option value="BLK">Black</option>
                                                <option value="BLU">Blue</option>
                                            </select>
                                        </div>

                                        <div class="span2 field-box" style="clear:left;">
                                        <label>Height</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span3 field-box">
                                        <label>Weight</label>
                                        <input class="span8" type="text">
                                        </div>

                                        <div class="span2 field-box">
                                        <label>Waist Size</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span3 field-box">
                                        <label>Shoe Size</label>
                                        <input class="span8" type="text">
                                        </div>

                                        <div class="span2 field-box">
                                        <label>Teeth</label>
                                            <select class="select2 span12">
                                                <option value="D">Dentures</option>
                                            </select>
                                        </div>

                                        <div class="span3 field-box">
                                        <label>Facial Hair</label>
                                            <select class="select2 span8">
                                                <option value="G">Goatee</option>
                                            </select>
                                        </div>

                                        <div class="field-box span11">
                                        <label>Scars, Marks or Tattoos</label>
                                        <textarea class="span9" rows="1"></textarea>
                                        </div>

                                        <h6 class="span12">Date of Birth and Age</h6>

                                        <div class="span2 field-box">
                                        <label>DOB</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span1 field-box">
                                        <label>Age</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span1" style="margin-top:25px;">
                                            <label class="checkbox">
                                                <input type="checkbox"> Estimated
                                            </label>
                                        </div>

                                        <div class="span2 field-box" style="clear:left">
                                        <label>Time of Birth</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span3 field-box" >
                                        <label>Under 1 Year</label>
                                            <div class="span4" style="float:left;margin-left:0px"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Months</label></div>
                                            <div class="span4" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Days</label></div>
                                        </div>

                                        <div class="span3 field-box" >
                                        <label>Under 24 Hours</label>
                                            <div class="span4" style="float:left;margin-left:0px"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Hours</label></div>
                                            <div class="span4" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Minutes</label></div>
                                        </div>

                                        <h6 class="span12">Identification Numbers</h6>

                                        <div class="span5 field-box">
                                        <label>Social Security #</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>CII #</label>
                                        <input class="span11" type="text">
                                        </div>
                                        
                                        <div class="span5 field-box">
                                        <label>DL/ID #</label>
                                        <div class="span6" style="margin-left:0px"><input class="span12" type="text"></div>

                                        <div class="span5" style="">
                                            <select class="select2 span12">
                                                <option value="HI">Hawaii</option>
                                                <option value="CA">California</option>
                                                <option value="NV">Nevada</option>
                                                <option value="OR">Oregon</option>
                                                <option value="WA">Washington</option>
                                                <option value="AZ">Arizona</option>
                                            </select>
                                        </div>
                                        </div>

                                        <h6 class="span12">Other Information</h6>

                                        <div class="span2 field-box">
                                        <label>Marital Status</label>
                                        <div class="span12">
                                            <select class="select2 span12">
                                                <option value="M">Married</option>
                                                <option value="D">Divorced</option>
                                                <option value="U">Unmarried</option>
                                            </select>
                                        </div>
                                        </div>

                                        <div class="span2 field-box">
                                        <label>Education</label>
                                        <div class="span12">
                                            <select class="select2 span12">
                                                <option value="H">High School</option>
                                                <option value="C">Some College</option>
                                            </select>
                                        </div>
                                        </div>

                                        <div class="span2 field-box">
                                        <label>Military Service</label>
                                        <div class="span12">
                                            <select class="select2 span12">
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                                <option value="Unknown">Unknown</option>
                                            </select>
                                        </div>
                                        </div>

                                        <div class="span5 field-box" style="clear:left;">
                                        <label>Citizenship</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <h6 class="span12">Occupation</h6>

                                        <div class="span5 field-box">
                                        <label>Occupation</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Employer</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Kind of Business</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span3 field-box">
                                        <label>Years in Occupation</label>
                                        <input class="span4" type="text">
                                        </div>

                                        <h6 class="span12">Residence</h6>

                                        <div class="span5" style="">
                                            <label class="checkbox"><input type="checkbox"> Homeless</label>
                                            <label class="checkbox"><input type="checkbox"> Indigent</label>
                                            <label class="checkbox"><input type="checkbox"> Undocumented Immigrant</label>
                                        </div>

                                        <div class="span5 field-box" style="clear:left;">
                                        <label>Address</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box" style="clear:left">
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box" style="clear:left">
                                        <div class="span5" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">City</label></div>
                                        <div class="span2" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">State</label></div>
                                        <div class="span4" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Zip</label></div>
                                        </div>

                                        <div class="span3 field-box" style="clear:left;">
                                        <label>County</label>
                                        <input class="span12" type="text">
                                        </div>

                                        <div class="span2 field-box">
                                        <label>Years</label>
                                        <input class="span9" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Phone #</label>
                                        <input class="span11" type="text">
                                        </div>                                        

                                        <h6 class="span12">Identification</h6>

                                        <div class="span5 field-box">
                                        <label>Identified By</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Method of ID</label>
                                        <div class="">
                                            <select class="select2 span11">
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                                <option value="Unknown">Unknown</option>
                                            </select>
                                        </div>
                                        </div>

                                        <div class="span5 field-box" style="clear:left">
                                        <label>Fingerprinted By</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Fingerprinted Date</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>DNA Tracking #</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box" style="clear:left">
                                        <label>Date Kit Requested</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Date Kit Recvd</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Date Kit Returned</label>
                                        <input class="span11" type="text">
                                        </div>

                                    </div>
                                <!-- End Decedent Content -->  
                                </div>

                                <div class="tab-pane" id="tabContacts">
                                
                                    <!-- Begin Contacts Content -->

                                    <div class="span12 section">

                                    <br>
                                    <!-- contacts table -->
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="span3">
                                                    Name
                                                </th>
                                                <th class="span2">
                                                    <span class="line"></span>
                                                    Relationship
                                                </th>
                                                <th class="span3">
                                                    <span class="line"></span>
                                                    Phone #

                                                </th>
                                                <th class="span3">
                                                    <span class="line"></span>
                                                    Cell Phone #
                                                </th>
                                                <th class="span3">
                                                    <span class="line"></span>
                                                    Next of Kin
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- row -->
                                            <tr class="first">
                                                <td>
                                                    <a href="#">Jessica Appleseed</a>
                                                </td>
                                                <td>
                                                    Mother
                                                </td>
                                                <td>
                                                    (707) 555-1212
                                                </td>
                                                <td>
                                                    (707) 555-1212
                                                </td>
                                                <td>
                                                    Yes
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#">James Smith</a>
                                                </td>
                                                <td>
                                                    Brother
                                                </td>
                                                <td>
                                                    (707) 555-1212
                                                </td>
                                                <td>
                                                    (707) 555-1212
                                                </td>
                                                <td>
                                            
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#">Jessica Appleseed</a>
                                                </td>
                                                <td>
                                                    Mother
                                                </td>
                                                <td>
                                                    (707) 555-1212
                                                </td>
                                                <td>
                                                    (707) 555-1212
                                                </td>
                                                <td>
                                            
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="submit-box pull-right">
                                        <input type="submit" class="btn btn-primary btn-small" value="Add Contact">
                                    </div>

                                    <h6 class="span12">Notification</h6>

                                        <div class="span5 field-box">
                                            <label>Notified</label>
                                            <div class="span12">
                                                <select class="select2 span11">
                                                    <option value="1">Jessica Appleseed</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="span5 field-box" style="">
                                            <label>Notified By</label>
                                            <input class="span11" type="text">
                                        </div>

                                       <div class="span5 field-box" style="clear:left;">
                                            <label>How Notified</label>
                                            <input class="span11" type="text">
                                       </div>

                                        <div class="span5 field-box" >
                                        <label>Date/Time Notification</label>
                                            <div class="span6" style="float:left;margin-left:0px"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Date</label></div>
                                            <div class="span5" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Time</label></div>
                                        </div>

                                    <h6 class="span12">Parents</h6>

                                        <div class="span5 field-box">
                                        <label>Father's Birth Place</label>
                                            <div class="span5" style="float:left;margin-left:0px">
                                            <div class="span12">
                                                <select class="select2 span12">
                                                    <option value="CA">CA</option>
                                                </select>
                                            </div>
                                                <label style="font-size:11px;font-style:italic">State</label>
                                            </div>
                                            <div class="span6" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Country</label></div>
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Mother's Birth Place</label>
                                            <div class="span5" style="float:left;margin-left:0px">
                                            <div class="span12">
                                                <select class="select2 span12">
                                                    <option value="CA">CA</option>
                                                </select>
                                            </div>
                                                <label style="font-size:11px;font-style:italic">State</label>
                                            </div>
                                            <div class="span6" style="float:left">
                                                <input class="span12" type="text"><label style="font-size:11px;font-style:italic">Country</label>
                                            </div>
                                        </div>   
                                        
                                    <!-- Begin Contact Detail -->
                               
                                    <h6 class="span12">Contact</h6>

                                        <div class="span5 field-box">
                                            <label>Role</label>
                                            <div class="span12">
                                                <select class="select2 span11">
                                                    <option value="AK">Test</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="span10 field-box" >
                                        <label>Name</label>
                                            <div class="span4" style="float:left;margin-left:0px"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">First</label></div>
                                            <div class="span4" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Middle</label></div>
                                            <div class="span4" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Last</label></div>
                                        </div>
                                        <br>
                                        <div class="span5 field-box">
                                            <div class="span8" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Maiden</label></div>
                                        </div>

                                        <div class="span3 field-box"  style="clear:left;">
                                        <label>DOB</label>
                                        <input class="span12" type="text">
                                        </div>

                                        <div class="span2 field-box">
                                        <label>Gender</label>
                                            <div class="span12">
                                                <select class="select2 span9">
                                                    <option value="M">Male</option>
                                                    <option value="F">Female</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="span2 field-box" style="">
                                        <label>Height</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span3 field-box">
                                        <label>Weight</label>
                                        <input class="span8" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>DL/ID #</label>
                                        <div class="span6" style="margin-left:0px"><input class="span12" type="text"></div>

                                        <div class="span5" style="">
                                            <select class="select2 span12">
                                                <option value="HI">Hawaii</option>
                                                <option value="CA">California</option>
                                                <option value="NV">Nevada</option>
                                                <option value="OR">Oregon</option>
                                                <option value="WA">Washington</option>
                                                <option value="AZ">Arizona</option>
                                            </select>
                                        </div>
                                        </div>

                                        <div class="span5 field-box" style="clear:left;">
                                        <label>Address</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box" style="clear:left">
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box" style="clear:left">
                                        <div class="span5" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">City</label></div>
                                        <div class="span2" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">State</label></div>
                                        <div class="span4" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Zip</label></div>
                                        </div>
                                        <div class="span5 field-box" style="clear:left">
                                            <div class="span11" style=""><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Country</label></div>
                                        </div>

                                        <div class="span5 field-box" style="clear:left;">
                                        <label>Phone</label>
                                        <input class="span11" type="text"/>
                                        </div>
                                       
                                        <div class="span5 field-box">
                                        <label>Cell Phone</label>
                                        <input class="span11" type="text"/>
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Occupation</label>
                                        <input class="span11" type="text"/>
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Employer</label>
                                        <input class="span11" type="text"/>
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Employer Phone #</label>
                                        <input class="span11" type="text"/>
                                        </div>

                                    </div>
                                    <!-- end contact -->

                                </div>

                                <div class="tab-pane" id="tabPlaceCauseOfDeath">

                                    <!-- Begin Place of Death/Cause Content -->
                               
                                     <div class="span12 section">
                                        <h6>Place of Death</h6>

                                        <div class="span5 field-box">
                                            <label>Place of Death</label>
                                            <input class="span11" type="text">
                                        </div>

                                        <div class="span3 field-box">
                                            <label>Hospital Patient</label>
                                            <div class="span12">
                                                <select class="select2 span12">
                                                    <option value="IP">IP</option>
                                                    <option value="ER/OP">ER/OP</option>
                                                    <option value="DOA">DOA</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="span3 field-box">
                                            <label>Non-Hospital</label>
                                            <div class="span12">
                                                <select class="select2 span11">
                                                    <option value="Hospice">Hospice</option>
                                                    <option value="Nursing Home/TLC">Nursing Home/TLC</option>
                                                    <option value="Decedent's Home">Decedent's Home</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="span5 field-box" style="clear:left">
                                        <label>Address</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box" style="clear:left">
                                        <div class="span5" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">City</label></div>
                                        <div class="span2" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">State</label></div>
                                        <div class="span4" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">County</label></div>
                                        </div>

@*                                        <div class="span5 field-box">
                                            <div class="span8" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Maiden</label></div>
                                        </div>

                                        <div class="span8" style="clear:left;margin-top:10px">
                                            <label class="checkbox">
                                                <input type="checkbox"> Was a Jane Doe or John Doe
                                            </label>
                                        </div>*@


                                        <h6 class="span12">Cause of Death</h6>

                                        <div class="span5 field-box">
                                            <label>Immediate Cause</label>
                                            <input class="span11" type="text">
                                        </div>

                                        <div class="span3 field-box">
                                            <label>Time Interval</label>
                                            <input class="span8" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                            <label>Cause (B)</label>
                                            <input class="span11" type="text">
                                        </div>

                                        <div class="span3 field-box">
                                            <label>Time Interval</label>
                                            <input class="span8" type="text">
                                        </div>
                                         
                                        <div class="span5 field-box">
                                            <label>Cause (C)</label>
                                            <input class="span11" type="text">
                                        </div>

                                        <div class="span3 field-box">
                                            <label>Time Interval</label>
                                            <input class="span8" type="text">
                                        </div>
                                         
                                        <div class="span5 field-box">
                                            <label>Cause (D)</label>
                                            <input class="span11" type="text">
                                        </div>

                                        <div class="span3 field-box">
                                            <label>Time Interval</label>
                                            <input class="span8" type="text">
                                        </div>                                                                                                                          

                                        <div class="span5 field-box">
                                            <label>Other Significant Conditions</label>
                                            <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                            <label>Was Operation Performed? (Type & Date) </label>
                                            <input class="span11" type="text">
                                        </div>

                                        <h6 class="span12">Examination</h6>

                                        <div class="span5" style="">
                                            <label class="">
                                                <input type="checkbox"> Biopsy Performed
                                            </label>
                                        </div>

                                        <div class="span5 field-box" style="clear: left;">
                                        <label>Examination Type</label>
                                        <div class="">
                                            <select class="select2 span11">
                                                <option value="A">Autopsy</option>
                                            </select>
                                        </div>
                                        </div>

                                       <div class="span5 field-box">
                                            <label>Pathologist</label>
                                            <input class="span11" type="text">
                                       </div>

                                       <div class="span5 field-box">
                                            <label>Autopsy Date</label>
                                            <input class="span4" type="text">
                                       </div>

                                        <div class="span5" style="margin-top:25px;">
                                            <label class="checkbox">
                                                <input type="checkbox"> Used In Determining COD?
                                            </label>
                                        </div>

                                        <h6 class="span12">Specimen Sample and Evidence</h6>

                                        <div class="span5" style="">
                                            <label class=""><input type="checkbox"> Stomach Content</label>
                                            <label class=""><input type="checkbox"> Tissue</label>
                                            <label class=""><input type="checkbox"> Urine</label>
                                            <label class=""><input type="checkbox"> Vitreous</label>
                                            </div>
                                        <div class="span5">
                                            <label class=""><input type="checkbox"> Vitreous</label>
                                            <label class=""><input type="checkbox"> Blood</label>
                                            <label class=""><input type="checkbox"> Bile</label>
                                            <label class=""><input type="checkbox"> Liver</label>
                                        </div>

                                        <div class="field-box span11">
                                        <label>Other</label>
                                        <textarea class="span9" rows="1"></textarea>
                                        </div>

                                        <h6 class="span12">Alcohol Analysis</h6>

                                        <div class="span5" style="">
                                            <label class=""><input type="checkbox"> Blood</label>
                                            <label class=""><input type="checkbox"> Urine</label>
                                            <label class=""><input type="checkbox"> Other</label>
                                            <label class=""><input type="checkbox"> Not Tested</label>
                                            </div>
                                        <div class="span5 field-box">
                                            <label>Alcohol Results</label>
                                            <input class="span3" type="text">
                                            <label style="font-size:11px;font-style:italic">% BAC</label>
                                        </div>

                                        <h6 class="span12">Drug Analysis</h6>

                                        <div class="span5" style="">
                                            <label class=""><input type="checkbox"> Blood</label>
                                            <label class=""><input type="checkbox"> Urine</label>
                                            <label class=""><input type="checkbox"> Other</label>
                                            <label class=""><input type="checkbox"> Not Tested</label>
                                        </div>

                                        <div class="span5 field-box" style="">
                                        <label>Tests Pending</label>
                                        <div class="">
                                            <select class="select2 span4">
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>
                                        </div>

                                        <div class="span5 field-box" style="">
                                        <label>Drugs Present</label>
                                        <div class="">
                                            <select class="select2 span4">
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>
                                        </div>

                                        <div class="field-box span11">
                                        <label>Drug Name (Exclude Nicotine, Aspirin, Alcohol and Post Crash Drugs)</label>
                                        <textarea class="span9" rows="1"></textarea>
                                        </div>

                                        <h6 class="span12">Medical</h6>

                                        <div class="span5 field-box">
                                            <label>Attending Physician</label>
                                            <input class="span11" type="text">
                                        </div>

                                        <div class="span2 field-box">
                                            <label>Attended Since</label>
                                            <input class="span12" type="text">
                                        </div>
                                        
                                         <div class="span2 field-box">
                                            <label>Last Seen Alive</label>
                                            <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box" style="clear:left;">
                                        <label>Medical History Examined</label>
                                        <div class="">
                                            <select class="select2 span4">
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>
                                        </div>

                                        <div class="span5 field-box" style="">
                                        <label>Pregnant In Last Year</label>
                                        <div class="">
                                            <select class="select2 span4">
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                                <option value="Unknown">Unknown</option>
                                                <option value="N/A">N/A</option>
                                            </select>
                                        </div>
                                        </div>



                                        <h6 class="span12">Removal</h6>

                                        <div class="span5 field-box" style="">
                                        <label>Removed By</label>
                                        <div class="">
                                            <select class="select2 span11">
                                                <option value="Coroner">Coroner</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        </div>

                                        <div class="span5 field-box" style="">
                                        <label>Removed To</label>
                                        <div class="">
                                            <select class="select2 span11">
                                                <option value="Coroner">Coroner's Facility</option>
                                                <option value="Funeral Home">Funeral Home</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        </div>

                                        <h6 class="span12">Removal & Disposition</h6>

                                        <div class="span5 field-box" style="">
                                        <label>Mortuary</label>
                                        <div class="">
                                            <select class="select2 span11">
                                                <option value="Acme">Acme Mortuary</option>
                                            </select>
                                        </div>
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Mortuary</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Funeral Director</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span6 field-box" style="clear:right">
                                        <label>Date Refrigerated</label>
                                            <div class="span4" style="float:left;margin-left:0px"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Date</label></div>
                                            <div class="span4" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Time</label></div>
                                        </div>

                                        <div class="span5 field-box" style="">
                                        <label>Disposition Type</label>
                                        <div class="">
                                            <select class="select2 span11">
                                                <option value="BU">Burial</option>
                                            </select>
                                        </div>
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Disposition Date</label>
                                        <input class="span6" type="text">
                                        </div>

                                        <div class="span5 field-box">
                                        <label>Place of Disposition</label>
                                        <input class="span11" type="text">
                                        </div>
                                        
                                        
                                        <!-- End Cause of Death -->
                                    </div>

                                </div>

                                <div class="tab-pane" id="tabInjuries">
                                    <div class="span12 section">
                                        <!-- Begin Injury -->
                                        <h6 class="span12">Injury</h6>

                                        <div class="span5 field-box" style="">
                                        <label>Date/Time of Injury</label>
                                            <div class="span4" style="float:left;margin-left:0px"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Date</label></div>
                                            <div class="span3" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Time</label></div>
                                            <div class="span1" style="margin-top:3px;">
                                            <label class="checkbox">
                                                <input type="checkbox"> Estimated
                                            </label>
                                            </div>
                                        </div>

                                        <div class="span5 field-box" style="">
                                            <label>Place of Injury</label>
                                            <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box" style="clear:left;">
                                        <label>Location of Injury</label>
                                        <input class="span11" type="text">
                                        </div>

                                        <div class="span5 field-box" style="clear:left">
                                        <div class="span5" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">City</label></div>
                                        <div class="span2" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">State</label></div>
                                        <div class="span4" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">Zip</label></div>
                                        </div>

                                        <div class="span5 field-box" style="clear:left">
                                        <div class="span7" style="float:left"><input class="span12" type="text"><label style="font-size:11px;font-style:italic">County</label></div>
                                        </div>

                                        <div class="span5 field-box" style="clear:left;">
                                            <label>Injured at Work?</label>
                                            <div class="">
                                                <select class="select2 span4">
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                    <option value="Unknown">Unknown</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="span5 field-box">
                                            <label>Occurred on Private Property</label>
                                            <div class="">
                                                <select class="select2 span4">
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="span5 field-box">
                                            <label>Occurred in Unincorporated Area</label>
                                            <div class="">
                                                <select class="select2 span4">
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="field-box span11">
                                        <label>How Injury Occurred</label>
                                        <textarea class="span9" rows="1"></textarea>
                                        </div>

                                        <h6 class="span12">Traffic Collision</h6>

                                        <div class="span2 field-box">
                                            <label>Seatbelt</label>
                                            <div class="">
                                                <select class="select2 span12">
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                    <option value="Unknown">Unknown</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="span2 field-box">
                                            <label>Helmet</label>
                                            <div class="">
                                                <select class="select2 span12">
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                    <option value="Unknown">Unknown</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- End Injury -->
                                    </div>
                                </div>

                                <div class="tab-pane" id="tabNotes">

                            <!-- notes -->
                            <div class="span12 section">

                            <h6>Notes</h6>

                            <br>
                            <!-- notes table -->
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="span2">
                                            Date
                                        </th>
                                        <th class="span2">
                                            <span class="line"></span>
                                            User
                                        </th>
                                        <th class="span8">
                                            <span class="line"></span>
                                            Note
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- row -->
                                    <tr class="first">
                                        <td>
                                            <a href="#">7/28/13 0800</a>
                                        </td>
                                        <td>
                                            John Doe
                                        </td>
                                        <td>
                                            This is a test of the notes system.
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="submit-box pull-right affix">
                                @*<input type="submit" class="btn btn-primary btn-small" value="Add Note">*@
                            </div>

                                <div class="span12">
                                <h6>Add Note</h6>
                                <textarea></textarea>
                                <a href="#">Attach files</a>
                                <div class="span12 submit-box pull-right">
                                    <input type="submit" class="btn btn-primary btn-small" value="Add Note">
@*                                    <span>OR</span>
                                    <input type="reset" value="Cancel" class="reset">*@
                                </div>
                                </div>

                            </div>

                            <!-- end notes -->

                            </div>

                                <div class="tab-pane" id="tabReport">
                                                                            
                                    <div class="span12 section">
                                        <!-- Begin Report -->
                                        <h6 class="span12">Synopsis</h6>
                                        <div class="field-box span12">
                                        <textarea id="ta1" class="span12 wysihtml5" rows="1"></textarea>
                                        </div>

                                        <h6 class="span12">Narrative</h6>
                                        <div class="field-box span12" style="clear:left;">
                                        <textarea id="ta2" class="span12 wysihtml5" rows="15" style="height:400px;"></textarea>
                                        </div>
                                        <!-- End Report -->
                                    </div>
                                </div>
                              </div>
                            </div>

@*                            <ul class="nav nav-tabs">
                              <li class="active">
                                <a href="#">General<!--<i class="icon-chevron-right" style="float:right;margin-top:2px"></i>--></a>
                              </li>
                              <li><a href="#">Decedent</a></li>
                              <li><a href="#">Contacts</a></li>
                              <li><a href="#">Place of Death</a></li>
                              <li><a href="#">Injuries</a></li>
                              <li><a href="#">Property</a></li>
                            </ul>*@
                            

                            <!-- new comment form -->
                            @*<div class="span12 section comment">
                                <h6>Add a quick note</h6>
                                <p>Add a note about this user to keep a history of your interactions.</p>
                                <textarea></textarea>
                                <a href="#">Attach files</a>
                                <div class="span12 submit-box pull-right">
                                    <input type="submit" class="btn-glow primary" value="Add Note">
                                    <span>OR</span>
                                    <input type="reset" value="Cancel" class="reset">
                                </div>
                            </div>*@

                        </div>
                    </div>


                    <!-- side address column -->
                    <div class="span2 address pull-right">
                        <h6>Case Status</h6>
                         <ul>
                            <li style="color: #777e86;font-size: 12px;">Assigned To</li>
                            <li style="margin-bottom:5px">Jayson Roper</li>
                            <li style="color: #777e86;font-size: 12px;">Status</li>
                            <li style="margin-bottom:5px">Open</li>
                            <li style="color: #777e86;font-size: 12px;">Date of Death</li>
                            <li style="margin-bottom:5px">7/1/2014</li>

                        </ul>
                    </div>
            </div>
        </div>
    </div>
    <!-- end main container -->
    </div>
	<!-- scripts -->
    <script src="~/Content/js/wysihtml5-0.3.0.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap-wysihtml5-0.0.2.js"></script>
    <script src="~/Content/js/bootstrap.datepicker.js"></script>
    <script src="~/Content/js/jquery.uniform.min.js"></script>
    <script src="~/Content/js/select2.min.js"></script>
    <script src="~/Content/js/theme.js"></script>


     <!-- call this page plugins -->
    <script type="text/javascript">
        $(function () {

            // add uniform plugin styles to html elements
            $("input:checkbox, input:radio").uniform();

            // select2 plugin for select elements
            $(".select2").select2({
                placeholder: "Select..."
            });

            // datepicker plugin
            $('.datepicker').datepicker().on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });

            // wysihtml5 plugin on textarea
            $(".wysihtml5").each(function () {
                $(this).wysihtml5({
                    "font-styles": true
                });
            });


        });
    </script>


</body>
</html>