.user-profile .header .avatar{
	float: left;
	margin-right: 25px;
	border: 2px solid #e9ecee;
	position: relative;
	top: 3px;
}
.user-profile .header .name{
	font-weight: 600;
	margin: 20px 0 8px 0;
	line-height: 26px;
	margin-bottom: 10px;
	float: none;
}
.user-profile .header span.area{
	color: #7d848c;
	font-style: italic;
	font-size: 14px;
}
.user-profile .header a.btn-flat {
	margin-top: 18px;
}
.user-profile .header a.delete-user {
	margin-left: 10px;
	font-size: 14px;
}
.user-profile .profile .bio {
	box-shadow: 4px 0px 3px -1px rgba(226, 226, 226, 0.1);
	border-right: 1px solid #edeef1;
}
.user-profile .profile .profile-box{
	border-top: 1px solid #dde2e9;
	padding-top: 23px;
	width: 90%;
}
.user-profile .profile .bio .span12{
	margin-left: 0;
}
.user-profile  .profile .section{
	margin-bottom: 80px;
}
.user-profile .profile .section.comment {
	margin-bottom: 100px;
	margin-top: 60px;
}
.user-profile .profile .bio h6{
	font-weight: 600;
	font-size: 14px;
}
.user-profile .profile .bio p{
	color: #777e86;
}
.user-profile .profile .bio textarea{
	width: 97%;
	margin-bottom: 13px;
	height: 80px;
}
.user-profile .bio .submit-box{
	text-align: right;
}
.user-profile .bio .submit-box input.btn-flat {
	font-weight: 500;
}
.user-profile .bio .submit-box span {
	text-transform: uppercase;
	color: #7e91aa;
	font-weight: 600;
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px 0 8px;
}
.user-profile .bio .submit-box input.reset {
	color: #7e91aa;
	font-weight: 500;
}
.user-profile .address{
}
.user-profile .address h6{
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 30px;
	margin-left: 30px;
}
.user-profile .address iframe{
	width: 90%;
	margin-bottom: 30px;
	float: right;
}
.user-profile .address ul{
	padding: 0;
	margin-left: 30px;
	list-style: none;
}
.user-profile .address ul li{
	font-size: 13px;
	line-height: 21px;
}
.user-profile .address ul li.ico-li{
	margin: 7px 0 7px;
}
.user-profile .address ul i{
	display: inline-block;
	position: relative;
	top: 4px;
	margin-right: 7px;
}
.user-profile .address ul i.ico-mail{
	margin-right: 5px;
}

label {
    font-size:6px;
}

/* responsive */

@media (max-width: 979px) {
}

@media (min-width: 980px) {
}

@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) { 
	.user-profile .address ul i{
		display: none;
	}
	.user-profile .address ul {
		margin-left: 18px;
	}
	.user-profile .address ul li.ico-li{
		font-weight: bold;
	}
	.user-profile .address ul li.ico-li a{
		font-weight: normal;
	}
}

@media (max-width: 767px) {
	.user-profile .profile .bio{
		border-right: 0 none;
		border-bottom: 1px solid #edeef1;
		box-shadow: 0px 4px 3px -1px rgba(226, 226, 226, 0.1);
	}
	.user-profile .address iframe{
		width: 100%;
	}
	.user-profile .address h6{
		margin-left: 0;
	}
	.user-profile .address{
		margin-top: 44px;
	}
	.user-profile .address ul{
		margin: 0;
	}
	.user-profile .header a.btn-flat{
		margin: 0;
	}
	.user-profile .profile .profile-box{
		width: 100%;
	}
	.user-profile .profile .bio .span12{
		width: auto;
	}
	.user-profile .header a.edit{
		margin-right: 10px;
	}
}

@media (max-width: 480px) {
	.user-profile .header a.btn-flat{
		margin: 0;
	}
	.user-profile .header a.edit{
		margin-right: 10px;
	}
}



